/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/
 
body {
  
  font-family: 'Open Sans', sans-serif;
  background-image: -moz-linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
  background-image: -ms-linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);
  background-image: linear-gradient( 135deg, rgba(85, 168, 191, 1) 0%, rgba(99, 88, 145, 1) 100%);

  
}

.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
 
 