<pre><h3>NERVA Public API</h3><ul>
<a href="decodeoutputs.php">decodeoutputs.php</a>

<a href="fetchanalytics.php">fetchanalytics.php</a>

<a href="getbans.php">getbans.php</a>

<a href="getblockbyhash.php">getblockbyhash.php</a>

<a href="getblockbyheight.php">getblockbyheight.php</a>

<a href="getblockcount.php">getblockcount.php</a>

<a href="getblockhash.php">getblockhash.php</a>

<a href="getblockheaderbyhash.php">getblockheaderbyhash.php</a>

<a href="getblockheaderbyheight.php">getblockheaderbyheight.php</a>

<a href="getblockheadersrange.php">getblockheadersrange.php</a>

<a href="getblocktemplate.php">getblocktemplate.php</a>

<a href="getconnections.php">getconnections.php</a>

<a href="getgeneratedcoins.php">getgeneratedcoins.php</a>

<a href="gethardforkinfo.php">gethardforkinfo.php</a>

<a href="getinfo.php">getinfo.php</a>

<a href="getlastblockheader.php">getlastblockheader.php</a>

<a href="getminingstatus.php">getminingstatus.php</a>

<a href="getpeerlist.php">getpeerlist.php</a>

<a href="gettransactionpool.php">gettransactionpool.php</a>

<a href="gettransactionpoolstats.php">gettransactionpoolstats.php</a>

<a href="gettransactions.php">gettransactions.php</a>

<a href="gettxpubkey.php">gettxpubkey.php</a>

<a href="setbans.php">setbans.php</a>

<a href="submitanalytics.php">submitanalytics.php</a>

<a href="supply.php">supply.php</a>

<a href="tradeogre.php">tradeogre.php</a>

</ul></pre>
